*.cs text eol=lf
*.xml text eol=lf
*.css text eol=lf
*.html text eol=lf
*.js text eol=lf
*.csproj text eol=lf
*.sln text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.nuspec text eol=lf
*.ps1 text eol=lf
*.props text eol=lf
*.targets text eol=lf
*.txt text eol=lf

src/Projbook.Documentation/Scripts/* linguist-vendored
src/Projbook.Documentation/Content/* linguist-vendored