body {
  padding-top: 70px;
  padding-bottom: 30px;
}

a.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.sidebar-outer {
    position: relative;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
    }
}